# your_package/.github/workflows/openalea_ci.yml

name: OpenAlea CI

on:
  push:
    branches:
      - main
      - master
    tags:
      - 'v*'
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  release:
    types:
      - published

jobs:
  build:
    uses: openalea/action-build-publish-anaconda/.github/workflows/openalea_ci.yml@main
    with:
      channels: 'openalea3,openalea3/label/rc,openalea3/label/dev,conda-forge'
    secrets:
      anaconda_token: ${{ secrets.ANACONDA_TOKEN }}
